*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
#app {
  padding: 20px;
}
.form-control {
  text-align: left;
  width: 260px;
  height:50px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #eeeeee;
  border: solid 1px #eee;
  margin: 20px 20px 20px 0;
  padding: 15px;
}
.btn.btn-default {
  width: 60px;
  height: 50px;
  background-color: #fff;
  border: solid 1px #eee;
  border-radius: 5px;
}

.list-group {
  border-top: solid 1px #eee;
  margin: 10px auto;
  padding: 20px 0;

}
.btn.btn-del {
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: solid 1px #eee;
  border-radius: 5px;
}
li.list-group-item {
  margin: 10px auto;
}

.done {
  text-decoration: line-through;
  color: grey;
}
.undone{
  color: black;
  text-decoration: none;
}
